---
import Image from './common/Image.astro';
import Zdev from '../assets/images/logo.png'
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 md:text-xl whitespace-nowrap"
>
  <Image src={Zdev} alt="logo" width={150} />
</span>
